$green: #4DE4A3;
$red: #F95000;
$blue: #4EA6FF;


body {
  /* font-family: 'proxima_nova_ltthin', sans-serif; */
  font-family: 'Barlow Semi Condensed', sans-serif;
  background:#fff;
  font-weight:200;
  color:#999;
}

h1, h2, h3, h4, h5 {
  font-weight:400;
}

a {
  color:#000;
}
a:hover {
  text-decoration:none;
  color:#000;
}



/* shared */

%row-shared {


}





/* icons */


i {
  width:1.7em;
  height:1.7em;
  position:relative;
  display:inline-block;
  -webkit-mask-size:100%;
  -webkit-mask-position:center;
  -webkit-mask-repeat:no-repeat;
  background-color:#000;
  /* margin-left:-1px; */
}
i.icon-letter {
  -webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZGF0YS1uYW1lPSJMYXllciAxIiB2aWV3Qm94PSIwIDAgOTggOTgiIHg9IjBweCIgeT0iMHB4Ij48dGl0bGU+MjE8L3RpdGxlPjxwYXRoIGQ9Ik04Myw3Mi41di00N0gxNXY0N1ptLTY2LTJWMzQuM0w0OSw1My43LDgxLDM0LjNWNzAuNVptNjQtNDN2NC40TDQ5LDUxLjMsMTcsMzEuOVYyNy41WiI+PC9wYXRoPjwvc3ZnPg==);
}
i.icon-phone {
  -webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC05NTIuMzYyMTgpIj48cGF0aCBzdHlsZT0idGV4dC1pbmRlbnQ6MDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7YmFzZWxpbmUtc2hpZnQ6YmFzZWxpbmU7Y29sb3I6IzAwMDAwMDtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlOyIgZD0ibSA2Nyw5NTcuMzYyMTYgYyAzLjg2MDcxLDAgNywzLjEzOTI5IDcsNyBsIDAsNzYuMDAwMDQgYyAwLDMuODYwNyAtMy4xMzkyOSw3IC03LDcgbCAtMzQsMCBjIC0zLjg2MDcxLDAgLTcsLTMuMTM5MyAtNywtNyBsIDAsLTc2LjAwMDA0IGMgMCwtMy44NjA3MSAzLjEzOTI5LC03IDcsLTcgbCAzNCwwIHogbSAwLDIgLTMuNzUsMCAtMi4yNSwzIC0yMiwwIC0yLjI1LC0zIC0zLjc1LDAgYyAtMi43ODczMSwwIC01LDIuMjEyNjkgLTUsNSBsIDAsNzYuMDAwMDQgYyAwLDIuNzg3MyAyLjIxMjY5LDUgNSw1IGwgMzQsMCBjIDIuNzg3MzEsMCA1LC0yLjIxMjcgNSwtNSBsIDAsLTc2LjAwMDA0IGMgMCwtMi43ODczMSAtMi4yMTI2OSwtNSAtNSwtNSB6IiBmaWxsPSIjMDAwMDAwIiBmaWxsLW9wYWNpdHk9IjEiIHN0cm9rZT0ibm9uZSIgbWFya2VyPSJub25lIiB2aXNpYmlsaXR5PSJ2aXNpYmxlIiBkaXNwbGF5PSJpbmxpbmUiIG92ZXJmbG93PSJ2aXNpYmxlIj48L3BhdGg+PC9nPjwvc3ZnPg==);
}





/* navigation */




.navigation {
  width:35vw;
  background:#fff;
  position:fixed;
  display:flex;
  height:100%;
  justify-content:flex-end;
  align-items:center;
  transition:all 0.3s ease;

  nav {
    padding:0 5vw 0 0;
    line-height:1.25;
    transform-origin:right center;
    transition:all 0.3s ease;

    a {
      font-size:2.5vw;
      display:block;
      text-align:right;
      font-weight:200;
      transition:opacity 0.3s ease-out;
    }
    a:hover {

    }
    .hovered {
      opacity:0.40;
    }
    .focused {
      opacity:1;
      /* padding:0 0.05em 0 0; */
    }
    .selected.hovered {
      opacity:0.05 !important;
      /* font-weight:200; */
      /* text-decoration:line-through; */
    }
    .selected {
      font-weight:400;
      cursor:default;
    }
  }
  header {
    position:absolute;
    bottom:0;
    left:0;
    padding:0 0 2vw 2vw;
    p {
      padding:0;
      margin:0;
      letter-spacing:0.05em;
      font-size:120%;
    }
    .contact {
      font-size:90%;
    }
    .logo {
      font-size:650%;
      letter-spacing:-0.19em;
      span {
        position: relative;
      }
      .logo-g {
        color:$red;
      }
      .logo-b {
        color:$green;
        top: -60px;
        left: -13px;
        font-size: 71%;
      }
      .logo-r {
        color:$blue;
        position: relative;
        top: -12px;
        font-size: 100%;
      }
    }
  }
}




/* wrapper content */




.content {
  width:65vw;
  position:absolute;
  left:35vw;
  transition:all 0.3s ease;

  .blocker-top,
  .blocker-bottom {
    position:fixed;
    background:#fff;
    height:50px;
    width:100%;
    display:block;
    transition:all 0.5s ease;
  }
  .blocker-top {
    top:0;
  }
  .blocker-bottom {
    bottom:0;
  }
  .back {
    background:#fff;
    position:fixed;
    padding:20px 0;
    top:50px;
    left:36vw;
    display:block;
    font-size:200%;
    z-index:20;
    transition:all 0.5s ease-out;
    width:0;
    overflow:hidden;
    opacity:0;
  }

  .wrapper {
    padding:50px 50px 50px 0;
    position:relative;
    background:#fff !important;
    /* overrides custom colors */
  }


  /* list style pages */



  .list {
    transition:all 0.5s ease;

    .left-accent {
      position:absolute;
      opacity:1;
      height:100%;
      background:#fff;
      top:0;
      left:0;
      width:0.3em;
      mix-blend-mode: difference;
      display:none;
    }

    .row {
      height:25vh;

      color:#fff;
      position:relative;
      transition:all 0.5s ease;
      display:flex;
      justify-content: flex-start;
      align-items:center;
      background-position:center center;
      background-repeat:no-repeat;
      background-size:cover;
      background-color:rgba(0,0,0,0.03);
      transform-origin:center;

      .info {
        padding:0 72% 0 2em;
        font-size:110%;
        transform-origin:left center;
        line-height:1.2;

        h1 {
          font-size:130%;
          font-weight:400;
          margin:0;
          padding:0 0 0.3em 0;
          transition:font-size 0.5s ease-out;
        }
        em {
          font-style:normal;
          font-size:90%;
        }
        .tags {
          display:none;
          padding:1em 0 0 0;
          mix-blend-mode:screen;

          b {
            text-transform:uppercase;
            background:rgba(255,255,255,0.75);
            padding:0.15em 0.25em 0.30em 0.25em;
            display:inline-block;
            margin:0 0 0.20em 0;
            color:#000;
            font-weight:400;
            line-height:1;
            font-size:95%
          }
          .primary {
            background:#fff;
            font-weight:600;
          }
        }
      }

    } /* row */

    .dark-row {
      .info {
        h1, em {
          color:#000;
        }
        .tags {
          mix-blend-mode:difference;
        }
      }
    }

  } /* list */



  /* article style pages */



  .article {

    .masonry {
      margin: 1.5em 0;
      padding: 0;
      column-gap: 0;
      column-count:3;

      /* does auto-media queries */
      column-width: 20em;

       .item {
         display: inline-block;
         padding: 1.5em 1.5em 1.5em 1.5em;
             margin: 0 0 0 -1.5em;
             width: 100%;
             box-sizing: border-box;

         img {
           display:block;
           width:100%;
           height:auto;
         }
         p {
           padding:0 2em 2em 0;
           -webkit-column-break-inside: avoid; /* Chrome, Safari */
           page-break-inside: avoid;           /* Theoretically FF 20+ */
           break-inside: avoid-column;         /* IE 11 */
         }
       }

    }
    .col-4 {
      column-count:4;
    }
    .col-3 {
      column-count:3;
    }
    .col-2 {
      column-count:2;
    }
    .col-1 {
      column-count:1;
    }

  } /* article */

} /* content */









/* overrides */


#design {
  padding-right:15vw;
}

#photo {
  padding-right:20vw;

  .row {
    background-position:center center;
    height:30vh;
    margin-bottom:0.2em;

    .info {
      flex-direction:row;

      h1 {
        background:#fff;
        padding:0.15em 0.25em 0.30em 0.25em;
        color:#000;
        line-height:1;
      }
      em {
        display:inline-block;
        line-height:1;
        background:#000;
        color:#fff;
        padding:0.20em 0.45em 0.30em 0.40em;
      }
    }
  }

}

#resume {

}

#about {
  .video {
    width:100%;
  }
}




/* toggle classes */





.expanded-page {
  .navigation {
    width:30vw;
    nav {
      transform:scale(0.75,0.75);
      a {

      }
      .selected.hovered {
        opacity:1 !important;
        cursor:pointer !important;
      }
    }
  }
  .content {
    left:30vw;
    width:70vw;
    .blocker-top, .blocker-bottom {
      height:0;
    }
    .list,.article {
      padding:0;
    }
    .back {
      width:50px;
      opacity:1;
      left:27.75vw;
    }
    .list {
      /*
      height:100vh;
      overflow:hidden;
      */

      .left-accent {
        display:none;
      }
      .row {
        /* opacity:0; */
        overflow:hidden;
        /* display:none; */
        /* height:0; */
      }
      .expanded-row {
        .info {
          padding-right:55%;
          h1 {
            font-size:300%;
          }
          em {
            font-style:normal;
            font-size:100%;
            line-height:1.6;
          }

          .tags {
            display:block;
            b {

            }
          }
        }
      }
    } /* list */

    #photo {
      padding-right:0;
      .row {
        /* height:100vh; */
      }
    }

    #design {
      padding-right:0;
    }

  } /* content */
} /* expaned-page */

.hide-rows {
  .content {
    .list {
      .row {
        display:none;
      }
    }
  }
}


body {
  .content {
    .list {
      .expanded-row {
        display:flex !important;
        opacity:1;
        height:100vh !important;
        align-items:center;
        z-index:15;
        position:relative;
        /* top:0 !important; */
        .info {

        }
      }
    }
  }

}



/* design rows */



#row-24hf {
  background-color:#314360;
  background-image:url(../img/design/24hf/hero.jpg);
}
#24hf {
  backround-color:#D52B1E;
}

#row-cubemoments {
  background-color:#7F0258;
  background-image:url(../img/design/cubemoments/hero.jpg);
}
#cubemoments {
  background-color:#7F0258;
}

#row-yourtrainer {
  background-color:#A4C4C9;
  background-image:url(../img/design/yourtrainer/hero.jpg);
  .info {
    h1, em {
      color:#000;
    }
  }
}
#row-yourtrainer {
  background-color:#A4C4C9;
}

#row-thecube {
  background-color:#e45d25;
  background-image:url(../img/design/thecube/hero.jpg);
}
#thecube {
  background-color:#e45d25;
}

#row-pigments {
  background-color:#F27B7A;
  background-image:url(../img/design/pigments/hero.jpg);
}
#pigments {
  background-color:#F27B7A;
}

#row-idighouse {
  background-color:#D88500;
  background-image:url(../img/design/idighouse/hero.jpg);
}
#idighouse {
  background-color:#D88500;
}

#row-auto {
  background-color:#4AAB9E;
  background-image:url(../img/design/auto/hero.jpg);
}
#auto {
  background-color:#4AAB9E;
}

#row-ahl {
  background-color:#0070bf;
  background-image:url(../img/design/ahl/hero.jpg);
}
#ahl {
  background-color:#0070bf;
}

#row-vectorart {
  background-color:#65A69C;
  background-image:url(../img/design/vectorart/hero.jpg);
}
#vectorart {
  background-color:#65A69C;
}

#row-antilimit {
  background-color:#000;
  background-image:url(../img/design/antilimit/hero.jpg);
}
#antilimit {
  background-color:#000;
}

#row-exotics {
  background-color:#F5E5D9;
  background-image:url(../img/design/exotics/hero.jpg);
}
#exotics {
  background-color:#F5E5D9;
}

#row-dst {
  background-color:#DDE3E1;
  background-image:url(../img/design/dst/hero.jpg);
}
#dst {
  background-color:#DDE3E1;
}

#row-invicible {
  background-color:#F8934A;
  background-image:url(../img/design/invicible/hero.jpg);
}
#invicible {
  background-color:#F8934A;
}

#row-downol {
  background-color:#748195;
  background-image:url(../img/design/daysofwar/hero.jpg);
}
#downol {
  background-color:#748195;
}


/* unused */

#row-cavedigger {
  background-color:#2B2116;
}
#row-hsc {
  background-color:#5C5F69;
  background-image:url(../img/design/hsc/hero.jpg);
}
#row-facingasia {
  background-color:#BA731C;
}
#row-mymedia {
  background-color:#909A7E;
}
#row-vintage {
  background-color:#999999;
}




/* photo rows */


#row-amsterdam {
  background-image:url(../img/photo/amsterdam/hero.jpg);
}
#row-austin {
  background-image:url(../img/photo/austin/hero.jpg);
}
#row-barcelona {
  background-image:url(../img/photo/barcelona/hero.jpg);
}
#row-bigbend {
  background-image:url(../img/photo/bigbend/hero.jpg);
}
#row-cambodia {
  background-image:url(../img/photo/cambodia/hero.jpg);
}
#row-chicago {
  background-image:url(../img/photo/chicago/hero.jpg);
}
#row-copenhagen {
  background-image:url(../img/photo/copenhagen/hero.jpg);
}
#row-dallas {
  background-image:url(../img/photo/dallas/hero.jpg);
}
#row-florida {
  background-image:url(../img/photo/florida/hero.jpg);
}
#row-hawaii {
  background-image:url(../img/photo/hawaii/hero.jpg);
}
#row-houston {
  background-image:url(../img/photo/houston/hero.jpg);
}
#row-japan {
  background-image:url(../img/photo/japan/hero.jpg);
}
#row-lasvegas {
  background-image:url(../img/photo/lasvegas/hero.jpg);
}
#row-london {
  background-image:url(../img/photo/london/hero.jpg);
}
#row-madrid {
  background-image:url(../img/photo/madrid/hero.jpg);
}
#row-malaysia {
  background-image:url(../img/photo/malaysia/hero.jpg);
}
#row-newmexico {
  background-image:url(../img/photo/newmexico/hero.jpg);
}
#row-newyork {
  background-image:url(../img/photo/newyork/hero.jpg);
}
#row-paris {
  background-image:url(../img/photo/paris/hero.jpg);
}
#row-puertorico {
  background-image:url(../img/photo/puertorico/hero.jpg);
}
#row-sanantonio {
  background-image:url(../img/photo/sanantonio/hero.jpg);
}
#row-sanfrancisco {
  background-image:url(../img/photo/sanfrancisco/hero.jpg);
}
#row-santodomingo {
  background-image:url(../img/photo/santodomingo/hero.jpg);
}
#row-seattle {
  background-image:url(../img/photo/seattle/hero.jpg);
}
#row-singapore {
  background-image:url(../img/photo/singapore/hero.jpg);
}
#row-stlouis {
  background-image:url(../img/photo/stlouis/hero.jpg);
}
#row-switzerland {
  background-image:url(../img/photo/switzerland/hero.jpg);
}
#row-thailand {
  background-image:url(../img/photo/thailand/hero.jpg);
}
#row-yellowstone {
  background-image:url(../img/photo/yellowstone/hero.jpg);
}





















@media only screen and (max-width: 600px) {

  .content {
    .article {
      .masonry {

      }
    }
  }

}
