$green: #4DE4A3;
$red: #F95000;
$blue: #4EA6FF;


body {
  /* font-family: 'proxima_nova_ltthin', sans-serif; */
  font-family: 'Barlow Semi Condensed', sans-serif;
  background:#fff;
  font-weight:200;
  color:#999;
}

h1, h2, h3, h4, h5 {
  font-weight:400;
}

a {
  color:#000;
}
a:hover {
  text-decoration:none;
  color:#000;
}



/* shared */

%row-shared {
  color:#fff;
  position:relative;
  transition:all 0.5s ease;
  display:flex;
  justify-content: flex-start;
  align-items:center;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;

  .info {
    padding:0 60% 0 1.5em;
    font-size:110%;
    h1 {
      font-size:130%;
      font-weight:400;
      margin:0;
    }
    em {
      font-style:normal;
      font-size:90%;
    }
  }

}





/* icons */


i {
  width:1.7em;
  height:1.7em;
  position:relative;
  display:inline-block;
  -webkit-mask-size:100%;
  -webkit-mask-position:center;
  -webkit-mask-repeat:no-repeat;
  background-color:#000;
  /* margin-left:-1px; */
}
i.icon-letter {
  -webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZGF0YS1uYW1lPSJMYXllciAxIiB2aWV3Qm94PSIwIDAgOTggOTgiIHg9IjBweCIgeT0iMHB4Ij48dGl0bGU+MjE8L3RpdGxlPjxwYXRoIGQ9Ik04Myw3Mi41di00N0gxNXY0N1ptLTY2LTJWMzQuM0w0OSw1My43LDgxLDM0LjNWNzAuNVptNjQtNDN2NC40TDQ5LDUxLjMsMTcsMzEuOVYyNy41WiI+PC9wYXRoPjwvc3ZnPg==);
}
i.icon-phone {
  -webkit-mask-image:url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLC05NTIuMzYyMTgpIj48cGF0aCBzdHlsZT0idGV4dC1pbmRlbnQ6MDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7YmFzZWxpbmUtc2hpZnQ6YmFzZWxpbmU7Y29sb3I6IzAwMDAwMDtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlOyIgZD0ibSA2Nyw5NTcuMzYyMTYgYyAzLjg2MDcxLDAgNywzLjEzOTI5IDcsNyBsIDAsNzYuMDAwMDQgYyAwLDMuODYwNyAtMy4xMzkyOSw3IC03LDcgbCAtMzQsMCBjIC0zLjg2MDcxLDAgLTcsLTMuMTM5MyAtNywtNyBsIDAsLTc2LjAwMDA0IGMgMCwtMy44NjA3MSAzLjEzOTI5LC03IDcsLTcgbCAzNCwwIHogbSAwLDIgLTMuNzUsMCAtMi4yNSwzIC0yMiwwIC0yLjI1LC0zIC0zLjc1LDAgYyAtMi43ODczMSwwIC01LDIuMjEyNjkgLTUsNSBsIDAsNzYuMDAwMDQgYyAwLDIuNzg3MyAyLjIxMjY5LDUgNSw1IGwgMzQsMCBjIDIuNzg3MzEsMCA1LC0yLjIxMjcgNSwtNSBsIDAsLTc2LjAwMDA0IGMgMCwtMi43ODczMSAtMi4yMTI2OSwtNSAtNSwtNSB6IiBmaWxsPSIjMDAwMDAwIiBmaWxsLW9wYWNpdHk9IjEiIHN0cm9rZT0ibm9uZSIgbWFya2VyPSJub25lIiB2aXNpYmlsaXR5PSJ2aXNpYmxlIiBkaXNwbGF5PSJpbmxpbmUiIG92ZXJmbG93PSJ2aXNpYmxlIj48L3BhdGg+PC9nPjwvc3ZnPg==);
}





/* navigation */




.navigation {
  width:35vw;
  background:#fff;
  position:fixed;
  display:flex;
  height:100%;
  justify-content:flex-end;
  align-items:center;
  transition:all 0.3s ease;

  nav {
    padding:0 5vw 0 0;
    line-height:1.2;
    a {
      transition:all 0.3s ease;
      font-size:2.5vw;
      display:block;
      text-align:right;
      font-weight:200;
    }
    a:hover {

    }
    .hovered {
      opacity:0.40;
    }
    .focused {
      opacity:1;
      /* padding:0 0.05em 0 0; */
    }
    .selected.hovered {
      /* opacity:0.05 !important; */
      /* font-weight:200; */
      /* text-decoration:line-through; */
    }
    .selected {
      font-weight:400;
      cursor:default;
    }
  }
  header {
    position:absolute;
    bottom:0;
    left:0;
    padding:0 0 2vw 2vw;
    p {
      padding:0;
      margin:0;
      letter-spacing:0.05em;
      font-size:120%;
    }
    .contact {
      font-size:90%;
    }
    .logo {
      font-size:650%;
      letter-spacing:-0.19em;
      span {
        position: relative;
      }
      .logo-g {
        color:$red;
      }
      .logo-b {
        color:$green;
        top: -60px;
        left: -13px;
        font-size: 71%;
      }
      .logo-r {
        color:$blue;
        position: relative;
        top: -12px;
        font-size: 100%;
      }
    }
  }
}




/* wrapper content */




.content {
  width:65vw;
  position:absolute;
  left:35vw;
  transition:all 0.3s ease;

  .blocker-top,
  .blocker-bottom {
    position:fixed;
    background:#fff;
    height:50px;
    width:100%;
    display:block;
    transition:all 0.5s ease;
  }
  .blocker-top {
    top:0;
  }
  .blocker-bottom {
    bottom:0;
  }
  .back {
    background:#fff;
    position:fixed;
    top:50px;
    left:30vw;
    display:block;
    margin-top:-0.5em;
    font-size:200%;
    z-index:20;
    transition:all 1s;
    width:0;
    overflow:hidden;
    height:0;
  }

  .wrapper {
    padding:50px 50px 50px 0;
    position:relative;
  }


  /* list style pages */



  .list {
    transition:all 0.5s ease;

    .left-accent {
      position:absolute;
      opacity:1;
      height:100%;
      background:#fff;
      top:0;
      left:0;
      width:0.3em;
      mix-blend-mode: difference;
      display:none;
    }

    .row {
      height:33vh;
      @extend %row-shared;

    } /* row */
  } /* list */



  /* article style pages */



  .article {
    display:flex;
    flex-flow: row wrap;

    .hero {
      height:100vh;
      width:100%;
      @extend %row-shared;

      .info {
      }
    }

    section {

      width:100%;
      position:relative;
      background:purple;

      img {
        display:block;
        width:100%;
      }
      p {
        margin:3vw 3vw 0 3vw;
      }
    }
    .s-75 {
      width:75%;
      background:red;
    }
    .s-66 {
      width:66.66666%;
      background:orange;
    }
    .s-50 {
      width:50%;
      background:yellow;
    }
    .s-33 {
      width:33.33333%;
      background:green;
    }
    .s-25 {
      width:25%;
      background:blue;
    }
  }




}









/* overrides */


#design {

}

#photography {

}

#resume {

}

#about {
  .video {
    width:100%;
  }
}




/* toggle classes */





.expanded-page {
  .navigation {
    width:30vw;
    nav {
      a {
        font-size:2.1vw;
      }
    }
  }
  .content {
    left:30vw;
    width:70vw;
    .blocker-top, .blocker-bottom {
      height:0;
    }
    .list,.article {
      padding:0;
    }
    .back {
      width:50px;
      height:50px;
    }
    .list {
      /*
      height:100vh;
      overflow:hidden;
      */

      .left-accent {
        display:none;
      }
      .row {
        /* opacity:0; */
        overflow:hidden;
        /* display:none; */
        /* height:0; */
      }
    }
  }
}

.hide-rows {
  .content {
    .list {
      .row {
        display:none;
      }
    }
  }
}


body {
  .content {
    .list {
      .expanded-row {
        display:flex !important;
        opacity:1;
        height:100vh;
        align-items:center;
        z-index:15;
        position:relative;
        /* top:0 !important; */

      }
    }
  }

}





#row-24hf {
  background-color:#D52B1E;
  background-image:url(../img/24hf/hero.jpg);
}
#row-cubemoments {
  background-color:#7F0258;
  background-image:url(../img/cubemoments/hero.jpg);
}
#row-yourtrainer {
  background-color:#A4C4C9;
  background-image:url(../img/yourtrainer/hero.jpg);
}
#row-thecube {
  background-color:#e45d25;
  background-image:url(../img/thecube/hero.jpg);
}
#row-pigments {
  background-color:#F27B7A;
  background-image:url(../img/pigments/hero.jpg);
}
#row-idighouse {
  background-color:#D88500;
  background-image:url(../img/idighouse/hero.jpg);
}
#row-auto {
  background-color:#4AAB9E;
  background-image:url(../img/auto/hero.jpg);
}
#row-ahl {
  background-color:#0070bf;
  background-image:url(../img/ahl/hero.jpg);
}
#row-vectorart {
  background-color:#65A69C;
  background-image:url(../img/vectorart/hero.jpg);
}
#row-antilimit {
  background-color:#000;
  background-image:url(../img/antilimit/hero.jpg);
}
#row-exotics {
  background-color:#F5E5D9;
  background-image:url(../img/exotics/hero.jpg);
}
#row-dst {
  background-color:#DDE3E1;
  background-image:url(../img/dst/hero.jpg);
}
#row-invicible {
  background-color:#F8934A;
  background-image:url(../img/invicible/hero.jpg);
}
#row-downol {
  background-color:#748195;
  background-image:url(../img/daysofwar/hero.jpg);
}


/* unused */

#row-cavedigger {
  background-color:#2B2116;
}
#row-hsc {
  background-color:#5C5F69;
  background-image:url(../img/hsc/hero.jpg);
}
#row-facingasia {
  background-color:#BA731C;
}
#row-mymedia {
  background-color:#909A7E;
}
#row-vintage {
  background-color:#999999;
}





















@media only screen and (max-width: 600px) {



}
