$green: #4DE4A3;
$red: #F95000;
$blue: #4EA6FF;


body {
  /* font-family: 'proxima_nova_ltthin', sans-serif; */
  font-family: 'Barlow Semi Condensed', sans-serif;
  background:#fff;
  font-weight:200;
  color:#999;
}

h1, h2, h3, h4, h5 {
  font-weight:400;
}

a {
  color:#000;
}
a:hover {
  text-decoration:none;
  color:#000;
}





.navigation {
  width:35vw;
  background:#fff;
  position:fixed;
  display:flex;
  height:100%;
  justify-content:flex-end;
  align-items:center;
  transition:all 0.3s ease; 

  nav {
    padding:0 5vw 0 0;
    line-height:1.2;
    a {
      transition:all 0.3s ease;
      font-size:2.5vw;
      display:block;
      text-align:right;
      font-weight:200;
    }
    a:hover {

    }
    .hovered {
      opacity:0.40;
    }
    .focused {
      opacity:1;
      /* padding:0 0.05em 0 0; */
    }
    .selected.hovered {
      /* opacity:0.05 !important; */
      /* font-weight:200; */
      /* text-decoration:line-through; */
    }
    .selected {
      font-weight:400;
      cursor:default;
    }
  }
  header {
    position:absolute;
    bottom:0;
    left:0;
    padding:0 0 2vw 2vw;
    p {
      padding:0;
      margin:0;
      letter-spacing:0.05em;
      font-size:115%;
    }
    .logo {
      font-size:650%;
      letter-spacing:-0.19em;
      span {
        position: relative;
      }
      .logo-g {
        color:$red;
      }
      .logo-b {
        color:$green;
        top: -60px;
        left: -13px;
        font-size: 71%;
      }
      .logo-r {
        color:$blue;
        position: relative;
        top: -12px;
        font-size: 100%;
      }
    }
  }
}







.content {
  width:65vw;
  position:absolute;
  left:35vw;
  transition:all 0.3s ease;

  .blocker-top,
  .blocker-bottom {
    position:fixed;
    background:#fff;
    height:1.2vw;
    width:100%;
    display:block;
    transition:all 0.5s ease;
  }
  .blocker-top {
    top:0;
  }
  .blocker-bottom {
    bottom:0;
  }
  .back {
    background:#fff;
    padding:0.5em;
    transform:scaleY(0.6);
    position:fixed;
    top:0;
    right:1.2vw;
    font-size:200%;
  }

  .wrapper {
    padding:1.2vw 1.2vw 1.2vw 0;
    position:relative;
  }

  .list {
    transition:all 0.5s ease;

    .left-accent {
      position:absolute;
      opacity:1;
      height:100%;
      background:#fff;
      top:0;
      left:0;
      width:0.3em;
      mix-blend-mode: difference;
    }

    .row {
      height:33vh;
      color:#fff;
      position:relative;
      transition:all 0.5s ease;
      display:flex;
      justify-content: flex-start;
      align-items:flex-end;
      background-position:right center;
      background-repeat:no-repeat;
      background-size:cover;

      .info {
        padding:0 40% 1.2em 1.5em;
        h1 {
          font-size:130%;
          font-weight:400;
          margin:0;
        }
        em {
          font-style:normal;
          font-size:90%;
        }
      }
    } /* row */
  } /* list */

}





/* overrides */


#design {

}

#photography {

}

#resume {

}

#about {
  .video {
    width:100%;
  }
}




/* toggle classes */



.expanded-page {
  .navigation {
    width:30vw;
    nav {
      a {
        font-size:2.1vw;
      }
    }
  }
  .content {
    left:30vw;
    width:70vw;
    .blocker-top, .blocker-bottom {
      height:0;
    }
    .list {
      padding-right:0;
      .left-accent {
        display:none;
      }
      .row {
        opacity:0;
      }
    }
  }
}

.content {
  .list {
    .expanded-row {
      display:flex !important;
      opacity:1 !important;
      height:70vw;
      align-items:center;
    }
  }

}






#row-cube-moments {
  background-color:#7F0258;
  background-image:url(../img/cubemoments/hero.jpg);
}
#row-the-cube {
  background-color:#e45d25;
  background-image:url(../img/thecube/hero.jpg);
}
#row-your-trainer {
  background-color:#A4C4C9;
  background-image:url(../img/yourtrainer/hero.jpg);
}
#row-cave-digger {
  background-color:#2B2116;
}
#row-pigments {
  background-color:#F27B7A;
  background-image:url(../img/pigments/hero.jpg);
}
#row-high-school-cube {
  background-color:#5C5F69;
  background-image:url(../img/hsc/hero.jpg);
}
#row-idig-house {
  background-color:#D88500;
}
#row-auto {
  background-color:#4AAB9E;
}
#row-apartment-home-living {
  background-color:#0070bf;
}
#row-vector-art {
  background-color:#65A69C;
}
#row-antilmit {
  background-color:#000;
}
#row-facing-asia {
  background-color:#BA731C;
}
#row-exotics {
  background-color:#F5E5D9;
}
#row-mymedia {
  background-color:#909A7E;
}
#row-dst {
  background-color:#DDE3E1;
}
#row-invicible {
  background-color:#F8934A;
}
#row-vintage {
  background-color:#999999;
}
#row-days-of-war {
  background-color:#748195;
}


















@media only screen and (max-width: 600px) {



}
